/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Border Box Version of Box Model */


/** {border : red solid 1px !important;}*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* Container */

.container {

  max-width: 150em;
/*  max-width: 324em;*/
  margin: 0 auto;
}


/* Navigation */

header {
  height: 6em;
  min-height: 6em;
  background-color: #ffffff;
  box-shadow:0 .3em 1em -.6em #888888;
  padding: 2.1em 4.3%;
  position:fixed;
  width : 100%;
  z-index: 200;
  /*padding : 0 4.3%;*/
}


.logo {

  float: left;
  max-width: 20em;
  min-width: 18em;
  width: 25%;
  margin-right: 6em;

}


.pages { 

  float: right;
    /*padding: .2em 0;*/
  padding: auto 0;
}

.pages li {
  list-style-type: none;
  margin-right: 3em;
  text-align: right;
  display: block;
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;

  /* To keep menu list in order*/
    float: left;


}

.pages li:last-child {
  margin-right: 0;
}

.pages li a {

  text-decoration: none;
  color: #818181;
}

      .pages li a:hover {
        color: #ffc400;

        }

      .pages li a:active {
          color: #E6B000;

          }

/* Main Image */

.full-span img {
  margin-top : 6em;
  /*clear: both;*/
  max-width: auto;
  max-height: 3456px;
  width: 100%; 
/*  padding: 0 4.3%; */

}

.full-span-bg {

  background-color: #f6f6f6;
}

/* Project Summary */

.clearfix:after{

      content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
}

.primary-summary-wrapper {

  background-color: #ffffff;
  margin: 0 auto;
  padding: 4.3% 4.3%;

}

.secondary-summary-wrapper {

  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 4.3% 4.3% 4.3%;  

}

/*Project Header Style*/

.project-h1 {

    font-family: 'Abel', sans-serif;
    font-size: 2.5em;
    margin-bottom: .3em;
    letter-spacing: .1em;
    text-align: center;
        text-transform: uppercase;
   }

.project-h2 {
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    margin-bottom: 2em;
    letter-spacing: .1em;
    text-align: center;
    text-transform: capitalize;
  }

        /*Text Columns*/
        .col-1-2 {

           -webkit-column-count: 2;
            -moz-column-count: 2;
                 column-count: 2;
          -webkit-column-gap: 3.4em;
             -moz-column-gap: 3.4em;
                  column-gap: 3.4em;
          float: left;
          vertical-align: top;


        }

strong {

    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    margin-bottom: 2em;
    letter-spacing: .1em;
    text-transform: capitalize;
    display: inline;

}

/*Project Header Colors*/

.free-people-header {

      color: #cf472a;

}

.ubook-header {

      color: #425c74;

}

.juvet-header {

      color: #201b53;

}

.brewing-label-header {

      color: #A53A38;
}

.daughter-header {

      color: #000000;
}



/*Project Summary Paragraph Style*/

p {

    font-family: 'Abel', sans-serif;
    font-size: 1em;
    color: #818181;
   
   }

/*   Project Images   */

.clearfix:after{

      content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
}


.half-span-container { 

  background-color: #ffffff;
  padding: 0 4.2% 4.2% 4.2%;
  margin: 0 auto;

}

.half-span {
/*  position: relative;*/
  width: 49%;
  float: left;
  padding: .1%;
  display: block;
  margin: 0 auto;


}

.full-span-secondary img{

  padding: 0 4.2% 4.2% 4.2%;
  /*clear: both;*/
  max-width: auto;
  max-height: 3456px;
  width: 100%; 
/*  padding: 0 4.3%; */

}

/* Work Toggle Nav */

.clearfix:after{

      content:".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
}


/*Style Toggle Nav Container*/

nav.work-toggle-container {
  background-color: #ffffff;
  padding: 2.1em 4.3%;
  width : 100%;
/*  position: relative;*/
  border-top: 1px solid #ededed;
  /*padding : 0 4.3%;*/
}


/*Style Toggle Nav Links*/

nav.work-toggle-container a {
  font-family: 'Abel', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: #b9b9b9;
}

nav.work-toggle-container a:hover {
        color: #ffc400;

        }

nav.work-toggle-container a:active {
        color: #E6B000;

        }

/*Toggle Back*/

div.toggle-back { 
  position: relative;
  float: left;
  padding: auto 0;
}

/*div.toggle-back a {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 200;
  background-color: #ffffff;
}*/



.back {
  padding-left: 2em;

}

.arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 1em;

}

/*Toggle Next*/

div.toggle-next {
  position: relative;
  float: right;
  padding: auto 0;
/*  display: block;*/
}


.next {
    float: left;
    margin-right: 1em;
}


.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  width: 1em;

}


/*Footer*/

footer {
  background-color: #f6f6f6;
  padding: 2.1em 4.3%;
  width : 100%;
}

#footer-header {
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  color: #ffc400;
  margin-bottom: .2em;
  text-transform: uppercase;
  letter-spacing: .1em;


}

.footer-intro {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    color: #818181;
    line-height: 1.2em;
    margin-bottom: .8em;
   
   }
   
.contact-links li {
    display: inline-block;

   }

    .contact-links li a {
        font-family: 'Abel', sans-serif;
        font-size: 1em;
        color: #818181;
        margin-bottom: .3em;
        text-decoration: none;
        display: inline-block;
      }

          .contact-links li a:hover {
              color: #ffc400;

            }

          .contact-links li a:active {
              color: #E6B000;

            }



.contact-info {
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    color: #818181;

}

